<div class="container">
    <!-- Reset Pssword Form -->
    <form class="form-horizontal" [formGroup]='resetpswForm'>
        <h2>Reset Password</h2>
        <div class="form-group">
            <div class="row">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" id="email" formControlName="email" placeholder="email" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="newPassword" class="col-sm-3 control-label">New Password</label>
                <div class="col-sm-9">
                    <input type="password" id="newPassword" formControlName="newPassword" placeholder="newPassword" class="form-control" [ngClass]="{ 'is-invalid': resetPswValidation.newPassword.touched && resetPswValidation.newPassword.errors }">
                    <div *ngIf=" resetPswValidation.newPassword.touched && resetPswValidation.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="resetPswValidation.newPassword.errors.required">Password is required</div>
                        <div *ngIf="resetPswValidation.newPassword.errors.minlength">Password must contain atleast 8 characters</div>
                        <div *ngIf="resetPswValidation.newPassword.errors.maxlength">Password must be only 20 characters</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="emailid" class="col-sm-3 control-label" data-error="wrong" data-success="right">Conform Password</label>
                <div class="col-sm-9">
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="confirmPassword" class="form-control" (input)="comparePassword(resetpswForm)" style="border-color:#ced4da; outline: none !important" [ngClass]="{ 'is-invalid': resetPswValidation.confirmPassword.touched && resetPswValidation.confirmPassword.errors }">
                    <div *ngIf=" resetPswValidation.confirmPassword.touched && resetPswValidation.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="resetPswValidation.confirmPassword.errors.required">Password is required</div>
                        <div *ngIf="resetPswValidation.confirmPassword.errors.minlength">Password must contain atleast 8 characters</div>
                        <div *ngIf="resetPswValidation.confirmPassword.errors.maxlength">Password must be only 20 characters</div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click)="resetPassword(resetpswForm)" [disabled]='isDisable ||resetpswForm.invalid'>Submit</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </form>
</div>