<div class="container">
    <!-- Reset Pssword Form -->
    <form class="form-horizontal" [formGroup]='resetpswForm'>
        <h2>Reset Password</h2>
        <div class="form-group">
            <div class="row">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" id="email" formControlName="email" placeholder="Enter email" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group input_with_icont">
            <div class="row">
                <label for="oldPassword" class="col-sm-3 control-label">Old Password</label>
                <div class="col-sm-9">
                    <input type="password" id="oldPassword" formControlName="oldPassword" placeholder="Enter old password"
                        class="form-control"  [type]="show ? 'text' : 'password'"
                        [ngClass]="{ 'is-invalid': resetPswValidation.oldPassword.touched && resetPswValidation.oldPassword.errors }">
                    <span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                        (click)="npassword()"></span>
                    <div *ngIf=" resetPswValidation.oldPassword.touched && resetPswValidation.oldPassword.errors"
                        class="invalid-feedback">
                        <div *ngIf="resetPswValidation.oldPassword.errors.required">Password is required</div>
                        <div *ngIf="resetPswValidation.oldPassword.errors.minlength">Password must contain atleast 8
                            characters</div>
                        <div *ngIf="resetPswValidation.oldPassword.errors.maxlength">Password must be only 20 characters
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group input_with_icont">
            <div class="row">
                <label for="newPassword" class="col-sm-3 control-label">New Password</label>
                <div class="col-sm-9">
                    <input type="password" id="newPassword" formControlName="newPassword" placeholder="Enter new password"
                        class="form-control"  [type]="show ? 'text' : 'password'"
                        [ngClass]="{ 'is-invalid': resetPswValidation.newPassword.touched && resetPswValidation.newPassword.errors }">
                    <span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                        (click)="npassword()"></span>
                    <div *ngIf=" resetPswValidation.newPassword.touched && resetPswValidation.newPassword.errors"
                        class="invalid-feedback">
                        <div *ngIf="resetPswValidation.newPassword.errors.required">Password is required</div>
                        <div *ngIf="resetPswValidation.newPassword.errors.minlength">Password must contain atleast 8
                            characters</div>
                        <div *ngIf="resetPswValidation.newPassword.errors.maxlength">Password must be only 20 characters
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group input_with_icont">
            <div class="row">
                <label for="emailid" class="col-sm-3 control-label" data-error="wrong" data-success="right">Conform
                    Password</label>
                <div class="col-sm-9">
                    <input type="password" id="confirmPassword" formControlName="confirmPassword"
                        placeholder="Enter confirm password" class="form-control" (input)="comparePassword(resetpswForm)"
                        style="border-color:#ced4da; outline: none !important"  [type]="show1 ? 'text' : 'password'"
                        [ngClass]="{ 'is-invalid': resetPswValidation.confirmPassword.touched && resetPswValidation.confirmPassword.errors }">
                    <span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                        (click)="cpassword()"></span>
                    <div *ngIf=" resetPswValidation.confirmPassword.touched && resetPswValidation.confirmPassword.errors"
                        class="invalid-feedback">
                        <div *ngIf="resetPswValidation.confirmPassword.errors.required">Password is required</div>
                        <div *ngIf="resetPswValidation.confirmPassword.errors.minlength">Password must contain atleast 8
                            characters</div>
                        <div *ngIf="resetPswValidation.confirmPassword.errors.maxlength">Password must be only 20
                            characters</div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click)="resetPassword(resetpswForm)"
            [disabled]='isDisable ||resetpswForm.invalid'>Submit</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </form>
</div>