/* You can add global styles to this file, and also import other style files */

.form-horizontal {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    position: absolute;
    top: 137px;
    left: 0;
    right: 0;
}

.form-horizontal h2 { 
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    padding-bottom: 4%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.input_with_icont{
    position: relative;
 }
 .input_with_icont span{
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 24px;
    margin: auto;
    z-index: 11;
 }
 .input_with_icont:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 52px;
    margin: auto;
    background-color: #d6d6d6;
    z-index: 11;
 }